.footer {
    text-align: center;
}

.footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer a {
    color: inherit;
    text-decoration: none;
}